﻿@charset "utf-8";

/* 
 * Ieetu CMS Style Sheet CSS Document 
 * IEETU Web Standardization Team 
 * 2017-04-14 
 */

/* Content Heading */
.icss h2,
.icss h3,
.icss h4,
.icss h5,
.icss h6, 
[class*=conTit]{position:relative; margin: 40px 0 20px; letter-spacing: -1px; font-weight:600;}
.icss h2,
.conTit2{font-size:2.143em;}
.icss h3,
.conTit3{font-size:1.714em;}
.icss h4,
.conTit4{font-size:1.286em;}
.icss h5,
.conTit5{font-size:1.143em;}
.icss h6,
.conTit6{font-size:1em;}
.icss h2:first-child,
.icss h3:first-child,
.icss h4:first-child,
.icss h5:first-child,
.icss h6:first-child{margin-top:0;}

/* Content Paragraph */
.icss p{margin-bottom: 10px; line-height: 1.6;}

/* Content List */
.icss ul,
.icss ol,
.conLst,
.conLst2,
.conLst3{margin-bottom:20px;}
.icss li ul,
.icss li ol,
[class*=conLst] li ul,
[class*=conLst] li ol{margin-bottom:0;}
.icss td>ul,
.icss td>ol,
[class*=conLst] td>ul,
[class*=conLst] td>ol{margin-bottom:0;}
.icss li,
[class*=conLst] li{position:relative; padding-left: 15px; line-height: 1.6;}
.icss li:before,
.conLst li:before{content:''; display: inline-block; position:absolute; top:9px; left:2px; width:4px; height:4px; border-radius:50%; background: #666;}
/* li 자손 li */
.icss li li:before,
.conLst2 li:before{top:10px; left:2px; width: 5px; height: 1px; background: #666;}
.icss ol{margin-left: 15px;}
.icss ol > li{padding-left:0; list-style-type: decimal;}
.icss ol > li:before{display: none;}

/* Table */
/* Base Table */
.icss table,
.table{width:100%; margin:12px 0; border:1px solid #ddd; border-top:2px solid #8397a9; border-bottom:1px solid #8397a9;}
.icss th,
.table th,
.icss td,
.table td{padding:8px; border:1px solid #dcdcdc; word-wrap:break-word;}
.icss th,
.table th{background:#f5f7f8; font-weight:bold; text-align:center;}
.icss thead th,
.table thead th{background: #eff3f4;}

/* icss Init */
.icss .init,
.icss .init > li,
.icss .init th,
.icss .init td{position:inherit; width:auto; height:auto; margin:0; padding:0; border:none; background:none; font-size:medium;}
.icss .init:before,
.icss .init > li:before{display: none;}
