@charset "utf-8";
@import url(layout_mobile.css);

/* 
 * Layout CSS Document
 * IEETU Web Standardization Team 
 * 2017-04-26 
 */

/*** Tablet 640px ~ 1023px ***/
@media all and (min-width:640px) {
	.header_top{height:34px; background-image:-webkit-linear-gradient(#478edc, #3173bc 30px, #2a65ae 30px); background-image:linear-gradient(#478edc, #3173bc 30px, #2a65ae 30px);}
	.header_top .wholeview,
	.header_top .btn_srch{display:none;}	
	.header_top .util_left{display:block; float:left; height:100%;}
	.header_top .local_medi{float:left; height:100%;}
	.header_top .local_medi a{display:block; box-sizing:border-box; height:100%; padding:7px 20px 0; border:1px solid #ddd; border-top:0; border-left:0; background:#fff; font-weight:600; line-height:1.5;}
	.header_top .local_medi a span{display:inline-block; position:relative; padding-left:12px;}
	.header_top .local_medi a span:before,
	.header_top .local_medi a span:after{content:''; display:inline-block; position:absolute; background:#d04365;}
	.header_top .local_medi a span:before{top:50%; left:0; width:8px; height:2px; margin-top:-1px;}
	.header_top .local_medi a span:after{top:50%; left:3px; width:2px; height:8px; margin-top:-4px;}
	.header_top .font_size{display:none;}	
	.header_top .util_right{float:right; height:100%; margin:0; padding:0;}
	.header_top .login_area{float:left; height:100%; border-radius:0;}
	.header_top .login_area li{width:auto; height:100%;}
	.header_top .login_area li a{box-sizing:border-box; height:100%; margin-left:0; padding:7px 20px 0; border-left:1px solid #2a65ae; background:none; font-weight:normal; line-height:1.5; color:#fff;}
	.header_top .login_area .sitemap{display:block;}	
	.header_top .lang_group{box-sizing:border-box; float:left; position:relative; top:auto; left:auto; width:auto; height:100%;}
	/* */
	.header_top .lang_area{border-left:1px solid #ddd; background:#fff;}
	.header_top .lang_area ul li{float:left; position:relative; padding:7px 8px;}
	.header_top .lang_area ul li:before{content:''; display:inline-block; position:absolute; top:50%; left:0; margin-top:-5px; width:1px; height:10px; background:#dcdcdc;}
	.header_top .lang_area ul li:first-child:before{display:none;}
	/* */
	.header_top .sns_area{float:left; height:100%;}
	.header_top .sns_area li{float:left; height:100%; border-left:0; border-right:1px solid #ddd;}
	.header_top .sns_area li .sprh_com{height:100%;}
	.header_top .sns_area li.blog .sprh_com{background-position:0 -50px;}
	.header_top .sns_area li.facebook .sprh_com{background-position:-50px -50px;}
	.header_top .sns_area li.youtube{border-right:0;}
	.header_top .sns_area li.youtube .sprh_com{background-position:-100px -50px;}
	
	.header_mid{height:97px;}
	.header_mid:after{content:''; display:block; clear:both;}
	.header_mid .logo{float:left; margin:7px 0 0 6px; padding:0;}
	.header_mid .srch_area{display:block; float:right; position:static; width:250px; margin:23px 0 0; box-shadow:none;}
	.header_mid .srch_area .inp_srch{height:33px; padding:0 34px 0 0; border:1px solid #dfdede; border-radius:2px; background:#eff2f7;}
	.header_mid .srch_area .inp_srch .btn_srch{top:-1px; right:-1px; width:34px; height:33px; border-left:0;}
	.header_mid .srch_area .inp_srch .btn_srch span{top:2px; left:2px; width:30px; height:29px; margin:0; background-position:-2px -102px;}
	.header_mid .srch_area .hotkeyword{display:block;}
	
	.gnb_wrap{display:block; height:54px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
	.gnb_wrap .inr{position:relative; max-width:1260px; height:54px; margin:0 auto;}
	.gnb_wrap #gnb{margin:0 54px 0 0;}
	.gnb_wrap #gnb:after{content:''; display:block; clear:both;}
	.gnb_wrap #gnb>li{float:left; width:20%; height:54px;}
	.gnb_wrap #gnb>li>a{display:block; box-sizing:border-box; height:100%; padding:16px 0 0; border-right:1px solid #ddd; font-weight:600; line-height:1.2; text-align:center;}
	.gnb_wrap #gnb>li>div{display:none;}
	.gnb_wrap .wholeview{position:absolute; top:0; right:0;}
	.gnb_wrap .wholeview.open{width:100%;}
	.gnb_wrap .wholeview .btn_open{position:absolute; top:0; right:0; width:54px; height:54px; background:none;}
	.gnb_wrap .wholeview .btn_open span,
	.gnb_wrap .wholeview .btn_open:before,
	.gnb_wrap .wholeview .btn_open:after{display:inline-block; position:absolute; top:50%; left:50%; overflow:hidden; width:20px; height:4px; margin-top:-2px; margin-left:-10px; background:#535353; vertical-align:top; text-indent:-9999em; transition:all 0.3s;}
	.gnb_wrap .wholeview .btn_open:before,
	.gnb_wrap .wholeview .btn_open:after{content:''; position:absolute; -webkit-transform-origin:50% 50%; transform-origin:50% 50%;}
	.gnb_wrap .wholeview .btn_open:before{margin-top:-9px;}
	.gnb_wrap .wholeview .btn_open:after{margin-top:5px;}
	.gnb_wrap .wholeview.open .btn_open span{opacity:0;}
	.gnb_wrap .wholeview.open .btn_open:before{-webkit-transform:translateY(7px) rotate(45deg); transform:translateY(7px) rotate(45deg);}
	.gnb_wrap .wholeview.open .btn_open:after{-webkit-transform:translateY(-7px) rotate(-45deg); transform:translateY(-7px) rotate(-45deg);}
	
	.gnb_wrap .wholeview .nav_wholeview{display:none; position:absolute; top:55px; left:0; z-index:100; box-sizing:border-box; width:100%; padding:20px; background:#eff2f7;}
	.gnb_wrap .wholeview.open .nav_wholeview{display:block;}
	
	.sub_visual{display:block; position:relative; box-sizing:border-box; max-width:1880px; height:229px; margin:0 auto; background:url(../images/common/img_subvisual01.jpg) no-repeat 50% 50%; -webkit-animation:visual 5s; animation:visual 5s;}
	.sub_visual .txt{padding:70px 0 0; color:#fff; text-align:center;}
	.sub_visual p.tit{display:inline-block; position:relative; margin:0 0 20px; padding:6px 30px; font-weight:600; font-size:2.69em; line-height:1.2;}
	.sub_visual p.tit:before,
	.sub_visual p.tit:after{content:''; display:inline-block; position:absolute; width:100%; height:1px; background:#fff; -webkit-animation:visual_tit 3s ease-in-out; animation:visual_tit 3s ease-in-out;}
	.sub_visual p.tit:before{top:0; left:0;}
	.sub_visual p.tit:after{bottom:0; right:0;}
		
	/* Title */
	.location_wrap{margin-bottom:120px;}
	.location_wrap>.tit{top:47px; width:100%; padding:45px 0 40px; font-size:2.31em; line-height:1.6; text-align:center;}
	.location_wrap>.tit span{display:inline-block; position:relative; padding:0 0 5px;}
	.location_wrap>.tit span:after{content:''; display:inline-block; position:absolute; bottom:0; left:-5px; right:-5px;}
	
	/* LNB */
	.location_wrap .nav{display:block; float:left;}
	.location_wrap .nav>li{float:left; position:relative; padding:0 25px 0 0;}
	.location_wrap .nav>li:after{content:''; position:absolute; top:0; right:0; width:25px; height:45px; background-position:0 -170px;}
	.location_wrap .nav>li a{display:block;}
	.location_wrap .nav>li>a{position:relative; box-sizing:border-box; height:45px; padding:14px 20px 0 15px; font-weight:600; line-height:1.3;}
	.location_wrap .nav>li:first-child>a{overflow:hidden; text-indent:-9999em; white-space:nowrap;}
	.location_wrap .nav>li:first-child>a:after{content:''; position:absolute; top:50%; left:50%; width:13px; height:11px; margin:-6px 0 0; background-position:0 -150px;}
	.location_wrap .nav>li>a .unfd{position:absolute; top:50%; right:5px; overflow:hidden; width:0; height:0; margin:-2px 0 0; border:4px solid #fff; border-top-color:#000; text-indent:-9999em; white-space:nowrap; transition:all 0.3s; -webkit-transform-origin:50% 25%; transform-origin:50% 25%;}
	.location_wrap .nav>li>a.on .unfd{-webkit-transform:rotate(180deg); transform:rotate(180deg);}
	.location_wrap .nav>li>div{position:absolute; top:45px; left:-25px; z-index:50; box-sizing:border-box; width:100%; min-width:160px; border:1px solid #ddd; background:#fff;}
	.location_wrap .nav>li>div>ul{margin:0 0 -1px;}
	.location_wrap .nav>li>div>ul>li{border-bottom:1px solid #dadada;}
	.location_wrap .nav>li>div>ul>li>a{padding:12px 10px 11px 20px; font-weight:600; line-height:1.3;}
	.location_wrap .nav>li>div>ul>li>a:hover,
	.location_wrap .nav>li>div>ul>li>a:active,
	.location_wrap .nav>li>div>ul>li>a:focus{background:#f4f4f4; color:#0061bf;}
	
	/* Cont_Foot */
	.cont_foot .cont_manager .inr{padding:0 20px;}
	.cont_foot .cont_manager .inr:after{content:''; display:block; clear:both;}
	.cont_foot .cont_manager .manager{float:left;}
	.cont_foot .cont_manager .update{float:right; margin:0;}
	.cont_foot .cont_rating .inp_area{box-sizing:border-box; max-width:600px; margin:0 auto;}
	
	/* Footer */
	#footer .site_related{display:block;}
		
}

/*** Pc 1024px ~ 1260px ***/
@media all and (min-width:1024px) {
	.header_top .inr{max-width:1260px; height:100%; margin:0 auto;}
	.header_top .font_size{display:block; float:left; height:100%;}
	.header_top .font_size dt,
	.header_top .font_size dd{box-sizing:border-box; float:left; height:100%; border-right:1px solid #2a65ae;}
	.header_top .font_size dt{padding:7px 15px 0; line-height:1.5; color:#fff;}
	.header_top .font_size button{display:block; position:relative; width:32px; height:100%; background:none;}
	.header_top .font_size button span{display:inline-block; overflow:hidden; text-indent:-9999em; white-space:nowrap;}
	.header_top .font_size button:before,
	.header_top .font_size button:after{content:''; display:inline-block; position:absolute; top:50%; left:50%; background:#fff;}
	.header_top .font_size button:before{width:10px; height:2px; margin:-1px 0 0 -5px;}
	.header_top .font_size button:after{width:2px; height:10px; margin:-5px 0 0 -1px;}
	.header_top .font_size button.zout:after{display:none;}
	
	.header_mid{max-width:1260px; margin:0 auto;}
	
	/* Gnb */
	#gnb{}
	#gnb>li>a{ font-size:1.46em;}
	#gnb>li.open>a{position:relative; color:#3274bc;}
	#gnb>li.open>a:after{content:''; display:block; position:absolute; bottom:0; left:-1px; right:-1px; height:3px; background:#3e83cf; -webkit-animation:gnb_a 0.6s ease-in-out; animation:gnb_a 0.6s ease-in-out;}
	#gnb>li>div{display:none; box-sizing:border-box; position:absolute; top:54px; left:0; z-index:100; width:100%; margin:0 -1px; min-height:317px; padding:30px 43px 30px 239px; border:1px solid #3e83cf; background:#fff;}
	#gnb>li.open>div{display:block;}
	#gnb>li>div>ul{margin:0 -7px;}
	#gnb>li>div>ul:after{content:''; display:block; clear:both;}
	#gnb>li>div>ul>li{float:left; width:180px; margin:0 7px 14px; border:1px solid #dadada;}
	#gnb>li:nth-child(3)>div>ul>li:nth-child(6){clear: left;}
	#gnb>li>div>ul>li>a{display:block; margin:-1px; padding:10px; background:#3e83cf; font-weight:600; font-size:1.154em; color:#fff; letter-spacing:-1px;}
	#gnb>li>div>ul>li>ul>li{margin-bottom:-1px; border-bottom:1px solid #dadada;}
	#gnb>li>div>ul>li>ul>li>a{display:block; position:relative; padding:10px 10px 10px 25px;}
	#gnb>li>div>ul>li>ul>li>a:before{content:''; display:inline-block; position:absolute; top:50%; left:15px; width:5px; height:2px; margin-top:-1px; background:#5e5e5e;}
	/* Gnb bg */
	#gnb>li>div .bg{position:absolute; top:30px; left:30px; width:180px; text-align:center; line-height:1.5; letter-spacing:-1px;}
	#gnb>li>div .bg:before{content:''; display:block; width:129px; height:129px; margin:0 auto; background:url(../images/header/img_gnb01.png) no-repeat 0 0;}
	#gnb>li.open>div .bg:before{ 
		-webkit-animation:gnb_spot 1s;
		animation:gnb_spot 1s;
	}
	#gnb>li:first-child+li>div .bg:before{background-image:url(../images/header/img_gnb02.png);}
	#gnb>li:first-child+li+li>div .bg:before{background-image:url(../images/header/img_gnb03.png);}
	#gnb>li:first-child+li+li+li>div .bg:before{background-image:url(../images/header/img_gnb04.png);}
	#gnb>li:first-child+li+li+li+li>div .bg:before{background-image:url(../images/header/img_gnb05.png);}
	#gnb>li>div .bg .tit{position:relative; margin:10px 0 10px; padding:0 0 10px; font-weight:600; font-size:1.7em;}
	#gnb>li.open>div .bg .tit{ 
		-webkit-animation:gnb_spot_tit 0.8s;
		animation:gnb_spot_tit 0.8s;
	}
	#gnb>li>div .bg .tit:after{content:''; display:inline-block; position:absolute; bottom:0; left:50%; width:41px; height:3px; margin-left:-20px; background:#3e83cf;}
	#gnb>li.open>div .bg .tit:after{ 
		-webkit-animation:gnb_spot_tit_after 1.5s;
		animation:gnb_spot_tit_after 1.5s;
	}
	#gnb>li.open>div .bg .tit+p{ 
		-webkit-animation:gnb_spot_tits 0.8s;
		animation:gnb_spot_tits 0.8s;
	}

	#header .nav_wholeview{top:54px; padding:10px; border:1px solid #3e83cf; background:#fff;}
	#header .nav_wholeview .snb a .unfd {border:0;}
	/* 1차 */
	#header .nav_wholeview>ul{margin:0 54px 0 -1.4358%;}
	#header .nav_wholeview>ul:after{content:''; display:block; clear:both;}
	#header .nav_wholeview>ul>li{box-sizing:border-box; float:left; width:18.5642%; margin:0 0 0 1.4358%; border-color:#dadada;}
	#header .nav_wholeview>ul>li>a{position:absolute; top:-9999em; overflow:hidden; padding:0;}
	/* 2차 */
	#header .nav_wholeview>ul>li>div>ul{margin-bottom:-1px;}
	#header .nav_wholeview>ul>li>div>ul>li{border-top:0; border-bottom:1px solid #dadada;}
	/* 3차 */
	#header .nav_wholeview>ul>li>div>ul.snb>li>ul>li>a .unfd{display:none;}
	
	.location_wrap .inr{max-width:1260px; margin:0 auto;}
	/* .location_wrap .sns_area{margin-right:0;} */
	.location_wrap .sns_area>li{margin-left:14px;}
	.location_wrap .sns_area>li.print{display:block;}
	
	.cont_wrap .cont_body{max-width:1260px; margin:0 auto;}
	
	/* Footer */
	#footer .inr:after{content:''; display:block; clear:both;}
	#footer .logo{float:left; margin:5px 0 0;}
	#footer .footer_cen{float:left; margin:0 0 0 45px;}
	#footer .mark_wa{display:block; float:right;}
	#footer .mark_wa img{width:100px;}
	#footer .nav_f{margin:0 0 10px;}
	#footer .site_related{top:50px;}
	
}

/*** Pc 1260px ~ ***/
@media all and (min-width:1260px) {
	.header_top .inr{border-left:1px solid #ddd; border-right:1px solid #ddd;}
	.gnb_wrap .inr{border-right:1px solid #ddd; border-left:1px solid #ddd;}
	
	/* Cont_Foot */
	.cont_foot .cont_manager .inr{max-width:1260px; margin:0 auto; /* padding:0; */}
	.cont_foot .cont_manager .manager{float:left;}
	.cont_foot .cont_manager .update{float:right; margin:0;}
	.cont_foot .cont_rating .inp_area{box-sizing:border-box; max-width:600px; margin:0 auto;}
	
}