﻿@charset "utf-8";

/* 
 * Common CSS Document 
 * IEETU Web Standardization Team 
 * 2017-03-17 
 */

/* Skip Navigation */
#accessibility a {display:block; position:absolute; top:-40px; left:0; z-index:10; width:100%; height:25px; line-height:25px; text-align:center; font-weight:bold; transition:0.3s; -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s;}
#accessibility a:hover {top: 0px; z-index:1000; padding:10px 0; background:#4764ce; color:#fff;}
#accessibility a:active {top: 0px; z-index:1000; padding:10px 0; background:#4764ce; color:#fff;}
#accessibility a:focus {top: 0px; z-index:1000; padding:10px 0; background:#4764ce; color:#fff;}
a#content {margin:0; padding:0; font-size:0; line-height:0;}

/* Float Clear */
.clr:after{content: ''; display: block; clear: both;}

/* 텍스트 정렬 */
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.valm{vertical-align:middle !important;}
.valt{vertical-align:top !important;}

/* 들여쓰기 */
.txt_idt {padding-left:1.2em !important; text-indent:-1.2em; background:none !important;}

/* 강조 텍스트 */
.txt_em{padding:3px 4px; background-color:#f9f2f4; color:#c7254e;}
.txt_em2{padding:3px 4px; background-color:#f2f7f9; color:#20597e;}

/* Heading + Content Box */
.icss .conBox{margin-bottom:20px;}
.icss h2 + .conBox,
.conTit2 + .conBox{margin-bottom:20px;}
.icss h3 + .conBox,
.conTit3 + .conBox{margin-bottom:20px;}
.icss h4 + .conBox,
.conTit4 + .conBox{margin-bottom:20px;}
.icss h5 + .conBox,
.conTit5 + .conBox{margin-bottom:20px;}

/* 테이블 설명글 */
.table_note{padding:0 5px; font-size:0.857em; text-align: right;}
.table_note + table{margin-top:5px;}
table + .table_note{margin-top: -7px;}
/* Table Type */
table.fixed{table-layout:fixed;}
/* 테이블 스타일 */
.table_stripe tr:nth-child(even){background-color:#f5f7f8;} /* Striped Tables */
.table_hover tr:hover{background-color:#f5f7f8;} /* Hoverable Table */
.tr_em{background-color:#fbeff2;} /* 강조 */

/* Box Type */
.msg_box{margin:16px 0; padding:16px; border-left:3px solid #e9e9e9; background-color: #fafafa;}
.msg_box_info{border-color:#bce8f1; background-color:#f4f8fa; color:#34789a;}
.msg_box_warning{border-color:#faebcc; background-color:#faf8f0; color:#8a6d3b}


/* Form Control */
input,
select,
textarea,
label{display:inline-block; box-sizing:border-box; width:auto; vertical-align:middle;}
.form_control{padding:7px 8px; border:1px solid #ccc; border-radius:2px; background:#fff; vertical-align:middle; transition:border-color 0.2s;}
.form_control:focus{outline:0; border-color:#3aabf0; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(58,171,240,0.6);}
.form_control:hover{border-color:#99d3f7; box-shadow:0 0 4px rgba(153,211,247,0.4);}
input[type=text],
input[type=password],
select{height:35px;}
select::-ms-expand {background-color: transparent; border: 0;}
input[type=file]{height:auto; padding: 0; background:#eee; font-size:1.08em;}
input[type=checkbox],
input[type=radio]{width:13px; height:13px; margin:2px 3px 1px 0;}
input[readonly],
input[disabled]{background: #eee;}
/* 필수입력 */
.form_required{display: inline-block; position: relative; padding-right:10px;}
.form_required:after{content:'*'; display: inline-block; position: absolute; top: 0; right: 0; color:#c7254e;}
.form_required2{display: inline-block; position: relative; margin-right:10px; background:linear-gradient(rgba(6,222,0,.13) 100%, transparent 100%) repeat-x 0 5px; background-size:10px 15px;}
/* css SelectMenu */
.cssSelect{position: relative; width:200px;}
.cssSelect button{box-sizing:border-box; width:100%; height:35px; padding:0 22px 0 20px; border:1px solid #ccc; background: #fff; font-weight:600; font-size:0.93em; text-align: left;}
.cssSelect button:after{content:''; position:absolute; top:50%; right:10px; margin-top: -2px; border: 5px solid transparent; border-width: 5px 4px; border-top-color: #666; transition:all 0.3s; transform-origin:50% 25%;}
.cssSelect.on button:after{-webkit-transform:rotate(180deg); transform:rotate(180deg);}
.cssSelect .lst{display:none; position:absolute; top:35px; left:0; z-index:100; box-sizing:border-box; width:100%; overflow:auto; max-height:100px; padding:10px 0; border:1px solid #ddd; background:#fff;}
.cssSelect.on .lst{display:block;}
.cssSelect.on .lst li a{display:block; padding:3px 10px; font-size:14px; line-height:1.5;}
/* Button Common */
.button,
.button *{position:relative; display:inline-block; box-sizing:border-box; overflow:visible; margin:0; padding:0; text-decoration:none !important; white-space:nowrap; text-align:center; vertical-align:middle; cursor:pointer; transition:background-color .1s, border-color .1s, box-shadow .1s;}
.button{height: 35px; padding: 0 15px; border:1px solid transparent; border-radius:3px; background-color:#fff; font-size:14px; line-height:35px; letter-spacing:0;}
.button span{height: 100%; vertical-align:middle;}
.button img{vertical-align:middle;}
/* Button Size - default / small / large */
.button{height:35px; font-size:14px; line-height: 35px;}
.button.xs{height:21px; padding:0 10px; font-size:11px; line-height:21px;}
.button.sm{height:31px; padding:0 12px; font-size:12px; line-height:31px;}
.button.lg{height:40px; padding:0 30px; font-weight:600; font-size:16px; line-height:40px;}
/* Button Color */
.button{border-color:#e5e5e5; background-color: #fff; color: #333;}
.button.green, 
.button.save{border-color:#36aa65; background-color:#3cbd70; color:#fff;}
.button.blue{border-color:#1c9dde; background-color:#3498cb; color:#fff;}
.button.orange{border-color:#fc7938; background-color:#fc8a51; color:#fff;}
.button.red{border-color:#dc1b4b; background-color:#e52c5a; color:#fff;}
.button.gray{border-color:#e3e3e3; background-color:#eaeaea;}
/* Button Active */
.button:hover,
.button:focus{border-color:#e3e3e3; background-color:#f0f0f0;}
.button:active{background-color:#eaeaea; box-shadow:inset 0 3px 5px rgba(0,0,0,.1);}
.button.green:hover, 
.button.green:focus{border-color:#2d8f54; background-color:#33a260;}
.button.green:active{background-color:#309659;}
.button.blue:hover, 
.button.blue:focus{border-color:#1887be; background-color:#2d83af;}
.button.blue:active{background-color:#2a7aa2;}
.button.orange:hover, 
.button.orange:focus{border-color:#fb6215; background-color:#fb722e;}
.button.orange:active{background-color:#fb681f;}
.button.red:hover, 
.button.red:focus{border-color:#bd1740; background-color:#d31a48;}
.button.red:active{background-color:#c61843;}
.button.gray:hover, 
.button.gray:focus{border-color:#e1e1e1; background-color:#e3e3e3;}
.button.gray:active{background-color:#e1e1e1;}
/* Button Ico */
.button.ico{background-image:url(../images/sp_btn_ico.png); background-repeat:no-repeat; background-position:10px 0;}
.button.write,
.button.mod,
.button.del,
.button.list{min-width:123px;}
.button.write{padding-left:35px; background-position:25px -488px;}
.button.mod{padding-left:30px; background-position:27px -540px;}
.button.del{padding-left:30px; background-position:27px -588px;}
.button.list{padding-left:30px; background-position:27px -636px;}
.button.srch{padding-left:30px; background-position:10px -188px;}
/* Button Strong */
.button.strong{font-weight:bold !important;}
/* Button Block */
.button.block{display:block; width:100%;}
/* Link Button Common */
.link_button,
.link_button *{position:relative; display:inline-block; box-sizing:border-box; overflow:visible; margin:0; padding:0; text-decoration:none !important; border:1px solid transparent; white-space:nowrap; text-align:center; vertical-align:middle; cursor:pointer;}
/* link_button Size - default */
.link_button{height:33px; padding:0 50px 0 13px; border-color:#b1b1b1; border-radius:2px; background-color:#fff; font-weight:400; font-size:14px; color:#333 !important; line-height:33px; letter-spacing:0;}
h2 .link_button{margin-top:-4px; margin-bottom:0;}
h2 .link_button.txt,
h2 .link_button.ico{margin-top:0;}
h3 .link_button{margin-top:-8px; margin-bottom:0;}
h3 .link_button.txt,
h3 .link_button.ico{margin-top:-3px;}
li .link_button{margin-top:-2px;}
/* Link Icon */
.link_button:before,
.link_button:after{content:''; display:inline-block; position:absolute; top:0; right:0; box-sizing:border-box;}
.link_button:before{width:1px; height:13px; top:9px; right:38px; border-left:1px solid #d0d0d0;}
.link_button:after{top:6px; right:10px; width:20px; height:20px; background:url(../images/common/sp_btn_ico.png) no-repeat 0 0;}
.link_button.homepage:after{background-position:0 0;}
.link_button.download:after{background-position:0 -30px;}
.link_button.location:after{background-position:0 -60px;}
.link_button.direct:after{background-position:0 -90px;}
.link_button.view:after{background-position:0 -120px;}
.link_button.sound:after{background-position:0 -150px;}
/* Text */
.link_button.txt{height:auto; padding:0 32px 0 5px; border:none; background:none; font-size:13px; line-height:25px;}
.link_button.txt:before{display:none;}
.link_button.txt:after{top:0; right:0; width:25px; height:25px; border: 1px solid #b1b1b1; border-radius: 2px; background-color: #fff;}
.link_button.txt.homepage:after{background-position:2px 2px;}
.link_button.txt.download:after{background-position:2px -28px;}
.link_button.txt.location:after{right:0; background-position:2px -58px;}
.link_button.txt.view:after{background-position:2px -118px;}
.link_button.txt.direct:after{right:0; background-position:2px -88px;}
/* Icon */
.link_button.ico{overflow:hidden; width:25px; height:25px; padding:0; text-indent:-9999em;}
.link_button.ico2{overflow:hidden; width:33px; height:33px; padding:0; text-indent:-9999em;}
.link_button.ico:after{top:2px; right:2px;}
.link_button.ico2:after{top:6px; right:6px;}
.link_button.ico:before,
.link_button.ico2:before{display:none;}
/* down+view */
.link_button_wrap{display:inline-block; vertical-align:middle;}
.link_button_wrap:after{content:''; display:block; clear:both;}
.link_button_wrap .link_button{float:left; margin-left:0; margin-right:0;}
.link_button_wrap .download,
.link_button_wrap .download:after{border-top-right-radius:initial; border-bottom-right-radius:initial;}
.link_button_wrap .link_button[class*=ico]{border-left:0; border-top-left-radius:initial; border-bottom-left-radius:initial;}



/* Paging */
.pagination{margin:20px 0; text-align:center; line-height:normal;}
.pagination a,
.pagination strong{display:inline-block; position:relative; box-sizing:border-box; width:40px; height:40px; margin:0 2px; border:1px solid #adadad; background:#fff; font-size:15px; font-weight:600; color:#777; line-height:40px; text-decoration:none; vertical-align:middle;}
.pagination strong{position:relative; z-index:10; border:none; background:#3679c2; color:#fff;}
.pagination .page_prev,
.pagination .page_prevend,
.pagination .page_next,
.pagination .page_nextend{overflow:hidden; text-indent:-9999em;}
.pagination .page_prev:after,
.pagination .page_prevend:after,
.pagination .page_next:after,
.pagination .page_nextend:after{content:''; position:absolute; top:50%; left:50%; width:11px; height:11px; margin:-5px 0 0 -5px; background:url(../images/sp_btn_ico.png) no-repeat 0 -300px;}
.pagination .page_prev:after{background-position:0 -350px;}
.pagination .page_prevend:after{background-position:0 -300px;}
.pagination .page_next:after{background-position:0 -400px;}
.pagination .page_nextend:after{background-position:0 -450px;}
/* Tab Menu */
.tabmenu{margin-bottom: 30px; padding:0; border: 1px solid #ccc; border-top: 2px solid #333;}
.tabmenu:after{content: ''; display: block; clear: both;}
.tabmenu>li{list-style:none; float: left; position: relative; margin:0; padding:0; line-height: 1.4;}
.tabmenu.col04>li{width:25%;}
.tabmenu>li:before{content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 2px; height: 14px; margin-top: -7px; background: #eee;}
.tabmenu>li>a{display: block; height: 50px; font-weight: 600; font-size: 1.23em; line-height: 50px; text-align: center;}
.tabmenu>li>a:hover,
.tabmenu>li>a:focus{color: #3879d9;}
.tabmenu>li:first-child:before,
.tabmenu>li.on:before,
.tabmenu>li.on + li:before{display:none}
.tabmenu>li.on{background: #3879d9; color: #fff;}
.tabmenu>li.on>a{color: #fff;}

