@charset "utf-8";
@import url(layout_mobile.css);

/* 
 * Layout Responsive CSS Document
 * IEETU Web Standardization Team 
 * 2017-04-26 
 */

/*** Tablet 640px ~ 1023px ***/
@media all and (min-width:640px) {

}

/*** Pc 1024px ~ 1260px ***/
@media all and (min-width:1024px) {

}

/*** Pc 1260px ~ ***/
@media all and (min-width:1260px) {
	
}