@charset "utf-8";

/* 
 * Layout CSS Document
 * IEETU Web Standardization Team 
 * 2016-06-30 
 */

/* Layout */
#wrap{}
/* Header */
#header{}
/* Header Top */
#header .h_top{background: #3f51b5;}
#header .h_top .inr{width:1000px; margin: 0 auto;}
#header .h_top .inr:after{content: ''; display: block; clear: both;}
#header .h_top .util_l{float: left;}
/* Font Size */
#header .h_top .font_size{float: left;}
#header .h_top .font_size dt,
#header .h_top .font_size dd{box-sizing:border-box; float:left; border-right:1px solid #5965b1;}
#header .h_top .font_size dd{background: #303f9f;}
#header .h_top .font_size dt{height:35px; padding:0 15px; line-height: 35px; color:#c5cae9;}
#header .h_top .font_size button{display:block; position:relative; width:32px; height:35px; background:none;}
#header .h_top .font_size button span{display:inline-block; overflow:hidden; text-indent:-9999em; white-space:nowrap;}
#header .h_top .font_size button:before,
#header .h_top .font_size button:after{content:''; display:inline-block; position:absolute; top:50%; left:50%; background:#c5cae9;}
#header .h_top .font_size button:before{width:10px; height:2px; margin:-1px 0 0 -5px;}
#header .h_top .font_size button:after{width:2px; height:10px; margin:-5px 0 0 -1px;}
#header .h_top .font_size button.zout:after{display:none;}
#header .h_top .util_r{float: right;}
/* Login Area */
#header .h_top .login_area{float:left;}
#header .h_top .login_area li{float:left;}
#header .h_top .login_area li a{height:35px; padding:0 20px; line-height:35px; color: #c5cae9;}
/* Language */
#header .h_top .lang_area{float: left; position: relative;}
#header .h_top .lang_area button{box-sizing:border-box; min-width:100px; height:35px; padding:0 25px 0 10px; background-color:#303f9f; font-weight:600; letter-spacing:-1px; color:#c5cae9;}
#header .h_top .lang_area button:after{content:''; position:absolute; top:50%; right:10px; border: 5px solid #2a65ae; border-color: #c5cae9 #303f9f #303f9f; -webkit-transition:all 0.5s; transition:all 0.5s; -webkit-transform-origin:50% 25%; transform-origin:50% 25%;}
#header .h_top .lang_area.on button:after{-webkit-transform:rotate(180deg); transform:rotate(180deg);}
#header .h_top .lang_area .lst{display:none; position:absolute; top:33px; left:0; z-index:100; width:100%; overflow:auto; max-height:100px; border:1px solid #ddd; background:#fff;}
#header .h_top .lang_area.on .lst{display:block;}
#header .h_top .lang_area.on .lst li a{display:block; padding:3px 10px; line-height:1.5;}
/* Header Mid */
#header .h_mid .inr{width:1000px; margin: 0 auto; padding:10px 0;}
#header .h_mid .inr:after{content: ''; display: block; clear: both;}
#header .logo{float: left;}
#header .logo img{width: 100px;}
#header .srch_area{float: right;}
/* GNB Wrap */
#header .gnb_wrap{position:relative; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.gnb_wrap .inr{width: 1000px; margin: 0 auto;}
#gnb:after{content: ''; display: block; clear: both;}
#gnb>li{float: left; width: 20%;}
#gnb>li>a{display:block; box-sizing:border-box; height: 50px; padding:10px 0; font-weight: bold; font-size:1.46em; text-align:center;}
#gnb>li.open>a{color:#3274bc;}
#gnb>li>div{display:none; position:absolute; top:50px; left:0; z-index:30; width:100%; border-bottom:1px solid #ddd; background:#fff;}
#gnb>li.open>div{display:block;}
#gnb>li>div>ul{width:1000px; margin: 0 auto;}
#gnb>li>div>ul:after{content:''; display:block; clear:both;}
#gnb>li>div>ul>li{float:left; min-width: 150px; margin:0 5px; border:1px solid #dadada;}
#gnb>li>div>ul>li>a{display:block; margin:-1px; padding:10px; background:#3e83cf; font-weight:600; font-size:1.154em; color:#fff;}
#gnb>li>div>ul>li>ul>li{margin-bottom:-1px; border-bottom:1px solid #dadada;}
#gnb>li>div>ul>li>ul>li>a{display:block; position:relative; padding:10px 10px 10px 25px;}
#gnb>li>div>ul>li>ul>li>a:before{content:''; display:inline-block; position:absolute; top:50%; left:15px; width:5px; height:2px; margin-top:-1px; background:#5e5e5e;}
/* Footer */
#footer{background:#212121;}
#footer .inr{width:1000px; margin:0 auto; padding:20px; color: #fff;}
/* Container */
#container{padding: 20px 0;}
/* Spot_area */
#container .spot_area{background: #acd9de; color: #fff;}
#container .spot_area .inr{width:1000px; margin:0 auto; padding:20px 0;}
/* Container Inr */
#container>.inr{width:1000px; margin:0 auto;}
#container>.inr:after{content: ''; display: block; clear: both;}
/* Side */
#side{float: left; width: 200px;}
#side .snb_tit{padding:20px 0; border-bottom: 1px solid #e0e0e0; font-size:2em; line-height: 1.3; text-align: center;}
#side .snb a{display:block; position:relative; padding:10px 30px 10px 46px; font-weight: 400; line-height:1.3; color:#333;}
#side .snb a.on{font-weight:600; color:#3f51b5;}
#side .snb a .unfd{display:inline-block; position:absolute; top:50%; right:10px; overflow:hidden; width:14px; height:14px; margin-top:-7px; vertical-align:middle; line-height:999px;}
#side .snb a .unfd:before,
#side .snb a .unfd:after{content:''; display: inline-block; position: absolute; background: #333;}
#side .snb a .unfd:before{top:50%; left:50%; width:10px; height: 2px; margin: -1px 0 0 -5px;}
#side .snb a .unfd:after{top:50%; left:50%; width:2px; height: 10px; margin: -5px 0 0 -1px;}
#side .snb a.on .unfd:after {display:none;}
#side .snb a .blank {display:inline-block; position:absolute; top:50%; right:10px; overflow:hidden; width:14px; height:14px; margin-top:-7px; vertical-align:middle; line-height:999px;}
#side .snb a .blank:before,
#side .snb a .blank:after{content:''; display: inline-block; position: absolute; border: 1px solid #ccc; background: #fff;}
#side .snb a .blank:before{bottom:0; left:0; width:7px; height: 7px;}
#side .snb a .blank:after{top:0; right:0; width:10px; height: 10px; border-color:#aaa;}
#side .snb li ul{display: none;}
#side .snb li.open{background: #eee;}
#side .snb li.open>ul{display: block;}
#side .snb>li>a{padding:15px 30px 15px 22px; font-weight: 600; color: #333;}
#side .snb>li>ul>li>ul>li a{padding-left:60px;}

/* Cont_wrap */
.cont_wrap{float:right; width: 750px; background: #fff;}
/* Cont_head */
.cont_head{padding: 10px; background: #e0e0e0;}
/* Cont_body */
.cont_body{background: #fff;}
/* Tab Menu */
.lnb{margin-bottom: 30px; border: 1px solid #ccc; border-top: 2px solid #333;}
.lnb:after{content: ''; display: block; clear: both;}
.lnb>li{float: left; position: relative;}
.lnb.col04>li{width: 25%;}
.lnb>li:before{content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 2px; height: 14px; margin-top: -7px; background: #eee;}
.lnb>li>a{display: block; height: 50px; font-weight: 600; font-size: 1.23em; line-height: 50px; text-align: center;}
.lnb>li>a:hover,
.lnb>li>a:focus{color: #3879d9;}
.lnb>li:first-child:before,
.lnb>li.on:before,
.lnb>li.on + li:before{display:none}
.lnb>li.on{background: #3879d9; color: #fff;}
.lnb>li.on>a{color: #fff;}

/* ICSS */
.icss{padding: 10px; background: #c5cae9;}
/* CMS Program */
.cms_program{padding: 10px; background: #ff80ab;}
/* Cont_foot */
.cont_foot{padding: 10px; background: #e0e0e0;}