@charset "utf-8";

/* 
 * Layout Mobile CSS Document
 * IEETU Web Standardization Team 
 * 2017-04-26 
 */

/* 스프라이트 이미지 */
.sprh_com,
#header .btn_svc:after,
#header .btn_wv:after,
#header .btn_login:after,
#wholeView .wv_wrap .head .util li:first-child a:before,
.totalSearch .btn_srch_open:after,
#wholeView .wv_wrap .nav>.home a:after,
#wholeView .wv_wrap .nav>ul>li a:before,
#wholeView .wv_wrap .nav>ul>li a:after,
#wholeView .wv_wrap .nav>ul>li .unfd,
#wholeView .wv_wrap .nav>ul>li>ul>li>a:after,
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a:after,
.cont_head .location li:before,
#footer .sns_share a{display:inline-block; overflow:hidden; color:transparent !important; white-space:nowrap; background:url(../images/common/sprh_com.png) no-repeat 0 0;}

/*** Mobile ~ 639px ***/
#wrap{min-width:320px;}
/*** Header ***/
#header{height:48px; background:#fff;}
#header>.logo{text-align:center;}
#header>.logo a{display:inline-block; padding:10px 0 0;}
#header>.logo .sprh_com{width:112px; height:28px; background-position:-120px 0;}
/* 전체메뉴 */
#header .btn_wv{position:absolute; top:0; left:0; overflow:hidden; width:48px; height:48px; border:0; background:none; white-space:nowrap; color:transparent !important;}
#header .btn_wv .sprh_com{position:absolute; top:50%; left:50%; width:20px; height:16px; margin:-8px 0 0 -10px; background-position:0 -30px;}

/*** 전체메뉴 ***/
#wholeView{}
#wholeView .wvBg{position:fixed; top:0; left:0; z-index:999; width:100%; background:transparent; 
/*transition:background 0.4s ease-in-out 0s;*/
/*-webkit-transition:background 0.4s ease-in-out 0s;*/
transition-property:height, background;
transition-duration:0s, .5s;
transition-delay:0s, 0s;}
#wholeView.open .wvBg{bottom:0; background:rgba(0,0,0,0.9);}
#wholeView .wv_wrap{/* position:fixed; */position:absolute; top:0; left:0; bottom:0; z-index:1000; overflow:auto; width:85%; background:#494949;
transition:all 0.1s ease-in-out 0s;
-webkit-transition:all 0.1s ease-in-out 0s;
transform:translate(-100%, 0);
-webkit-transform:translate(-100%, 0);
}
#wholeView.open .wv_wrap{transform:translate(0, 0); -webkit-transform:translate(0, 0);}
#wholeView .wv_wrap .head{position:relative; height:155px;}
#wholeView .wv_wrap .head>.logo{padding:30px 0; text-align:center;}
#wholeView .wv_wrap .head>.logo .sprh_com{width:112px; height:28px; background-position:0 0;}
#wholeView .wv_wrap .head .btn_close{position:absolute; top:0; right:0; width:50px; height:60px; border:0; background:transparent;}
#wholeView .wv_wrap .head .btn_close .sprh_com{position:absolute; top:50%; left:50%; width:21px; height:21px; margin:-10px 0 0 -10px; background-position:-60px 0;}
#wholeView .wv_wrap .head .util:after{content:''; display:block; clear:both;}
#wholeView .wv_wrap .head .util li{float:left; box-sizing:border-box; width:50%; padding:0 5px; text-align:left;}
#wholeView .wv_wrap .head .util li:first-child{text-align:right;}
#wholeView .wv_wrap .head .util li a{display:inline-block; width:110px; height:33px; border:1px solid #fff; border-radius:3px; font-size:0.857em; color:#fff; text-align:center;}
#wholeView .wv_wrap .head .util li:first-child a:before{content:''; display:inline-block; width:16px; height:16px; margin:0 5px 0 0; background-position:0 -60px; vertical-align:middle;}
#wholeView .wv_wrap .head .util li a span{display:inline-block; vertical-align:middle;}
#wholeView .wv_wrap .head .util li a:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
#wholeView .wv_wrap .head .util li:nth-child(2) a{border-color:#9bbe34; color:#9bbe34;}
/* 전체메뉴 */
#wholeView .wv_wrap .nav{position:absolute; top:155px; left:0; right:0; bottom:0; overflow:auto; font-family:'NanumSquare';}
#wholeView .wv_wrap .nav a{display:block; position:relative; line-height:1.2; color:#878787;}
#wholeView .wv_wrap .nav a>.blank{display:inline-block; height:15px; margin: 0 0 0 5px; padding: 0 3px; border:1px solid rgba(255,255,255,.2); border-radius: 3px; font-size: 11px; line-height: 15px; color:#878787; vertical-align:middle;}
/* 1차 */
#wholeView .wv_wrap .nav>ul{border-bottom:1px solid #525252;}
#wholeView .wv_wrap .nav>ul>li{border-top:1px solid #525252; border-bottom:1px solid #434343;}
#wholeView .wv_wrap .nav>ul>li:first-child{border-top:0;}
#wholeView .wv_wrap .nav>ul>li>a{position:relative; padding:12px 20px; font-size:1.357em; line-height:1.2; color:#fff; text-align:center;}
#wholeView .wv_wrap .nav>ul>li>a.on{background:url(../images/common/bg_menu1d_on.png) no-repeat 0 0; background-size:cover; text-align:left;}
#wholeView .wv_wrap .nav>ul>li>a .unfd{display:none; position:absolute; top:50%; right:20px; width:24px; height:24px; margin-top:-12px; background-position:-30px -60px;}
#wholeView .wv_wrap .nav>ul>li>a.on .unfd{display:block;}
/* 2차 */
#wholeView .wv_wrap .nav>ul>li>ul{display:none; padding:0 20px; background:#3c3c3c;}
/* #wholeView .wv_wrap .nav>ul>li.open>ul{display:block;} */
#wholeView .wv_wrap .nav>ul>li>ul>li{}
#wholeView .wv_wrap .nav>ul>li>ul>li>a{padding:15px 10px; border-bottom:1px solid rgba(255,255,255,.05); font-size:1.143em;}
#wholeView .wv_wrap .nav>ul>li>ul>li:last-child>a{border-bottom:0;}
#wholeView .wv_wrap .nav>ul>li>ul>li a.on{border-color:#fff; color:#d7d7d7;}
#wholeView .wv_wrap .nav>ul>li>ul>li>a:after{content:''; position:absolute; top:50%; right:12px; width:7px; height:11px; margin-top:-6px; background-position:-10px -90px; opacity:.2;}
#wholeView .wv_wrap .nav>ul>li>ul>li>a.on:after{opacity:1;}
#wholeView .wv_wrap .nav>ul>li>ul>li>a.parent:after{display:none;}
#wholeView .wv_wrap .nav>ul>li>ul>li>a .unfd{position:absolute; top:50%; right:10px; width:11px; height:7px; margin-top:-4px; background-position:-20px -100px; -webkit-transform-origin:50% 50%; transform-origin:50% 50%; -webkit-transition:-webkit-transform 0.25s; transition:transform 0.25s; opacity:.2;}
#wholeView .wv_wrap .nav>ul>li>ul>li>a.on .unfd{/*background-position:-50px 0;*/ -webkit-transform:rotate3d(0,0,1,180deg); transform:rotate3d(0,0,1,180deg); opacity:1;}
/* 3차 */
#wholeView .wv_wrap .nav>ul>li>ul>li>ul{display:none; padding:10px 0; border-bottom:1px solid rgba(255,255,255,.05);}
/* #wholeView .wv_wrap .nav>ul>li>ul>li.open>ul{display:block;} */
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li{}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a{padding:9px 10px 9px 20px; font-size:0.93em;}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a.on{padding-left:30px; font-weight:600;}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a:before{content:''; position:absolute; top:50%; left:11px; width:2px; height:2px; margin-top:-1px; background-color:#878787;}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a.on:before{width:12px; height:7px; margin-top:-3px; background-color:transparent; background-position:-40px -90px;}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a .unfd{position:absolute; top:50%; right:12px; width:13px; height:7px; margin-top:-4px; background-position:-55px -25px; -webkit-transform-origin:50% 50%; transform-origin:50% 50%; -webkit-transition:-webkit-transform 0.25s; transition:transform 0.25s;}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>a.on .unfd{-webkit-transform:rotate3d(0,0,1,180deg); transform:rotate3d(0,0,1,180deg);}
/* 4차 */
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>ul{padding:5px 0; background:#f5f5f5;}
#wholeView .wv_wrap .nav>ul>li>ul>li>ul>li>ul>li>a{padding:8px 5px 8px 50px;}
/** 상단 검색 **/
.totalSearch{position:static; top:0; right:0; z-index: 30;}
.totalSearch .btn_srch_open{position:absolute; top:0; right:0; overflow:hidden; width:48px; height:48px; border:0; background:none; white-space:nowrap; color:transparent !important;}
.totalSearch .btn_srch_open .sprh_com{content:''; position:absolute; top:50%; left:50%; width:22px; height:22px; margin:-11px 0 0 -11px; background-position:-30px -30px;}
.totalSearch .search_wrap{display:none; position: absolute; top:48px; left: 0; right: 0; z-index: 100; transition:all 1s;}
.totalSearch .search_area{position:relative; padding: 15px; background: #2373b4;}
.totalSearch .search_area .inp_area{box-sizing:border-box; height:44px; margin:0 44px 0 0; padding:0 10px; border:1px solid #e1e1e1; background: #fff;}
.totalSearch .search_area .inp_area input{width:100%; height:100%; border:0;}
.totalSearch .search_area .btn_srch{position: absolute; top:15px; right:15px; width: 44px; height: 44px; border:0; background: #13456f;}
.totalSearch .search_area .btn_srch .sprh_com{position:absolute; top:50%; left:50%; width:20px; height: 20px; margin:-10px 0 0 -10px; background-position: -85px 0;}
.totalSearch .search_body{background: #f1f5fd;}
.totalSearch .search_body .btn_srch_close{display: inline-block; border:0; background: #fff;}
.totalSearch .search_body .close_btm{padding:10px 10px 20px; text-align: right;}

/*** Footer ***/
#footer{background: #4e596c;}
#footer .nav_f{padding:10px 10px; background: #465064; text-align:center;}
#footer .nav_f>a,
#footer .nav_f .lang_area{display:inline-block; box-sizing:border-box; width:100px; height:34px; padding:0 6px; border:1px solid #37404f; background: #59657c; font-size: 0.86em; line-height:34px; color: #fff;}
#footer .nav_f .lang_area{position:relative; padding:0;}
#footer .nav_f .lang_area button{width:100%; height:100%; border:0; background:none; color:#fff;}
#footer .lang_area .lst{display:none; position:absolute; bottom:34px; left:0; z-index:100; box-sizing:border-box; width:100px; overflow:auto;/*  max-height:78px; */ border:1px solid #ddd; background:#fff;}
#footer .lang_area.on .lst{display:block;}
#footer .lang_area.on .lst li a{display:block; padding:3px 10px; font-size:1em; line-height:1.6;}
#footer .sns_share{margin:0 10px; padding:20px 10px; border-bottom: 1px solid #687182; text-align:center;}
#footer .sns_share a{width:39px; height:39px; margin: 0}
#footer .sns_share .sns_facebook{background-position:0 -50px;}
#footer .sns_share .sns_twitter{background-position:-45px -50px;}
#footer .sns_share .sns_blog{background-position:-90px -50px;}
#footer .sns_share .sns_kakao_s{background-position:-90px -91px;}
#footer .sns_share .sns_kakao_t{background-position:-135px -91px;}
#footer .copy{position:relative; padding:25px 10px 25px 85px; font-size:0.86em; line-height: 1.6; color: #fff; letter-spacing:-1px;}
#footer .copy:after{content: ''; display: block; clear: both;}
#footer .copy .logo{float: left; position: absolute; top: 25px; left:15px; width: 59px; height: 51px; background: url(../images/footer/logo_x2.png) no-repeat 0 0; background-size:59px 51px;}
#footer .copy>p+p{font-size: 0.5em; color: #e3ecfd;}

/** 컨텐츠 **/
/* 컨텐츠 헤드 */
.cont_head{position:relative;}
.cont_head .btn_back{display:inline-block; position:absolute; top:6px; left:10px; z-index:10; padding:5px 10px 5px 15px; border:0; border-radius:4px; background:#209ddb; font-size:12px; color:#fff;}
.cont_head .btn_back:before{content:''; display:inline-block; position:absolute; top:50%; left:8px; width:4px; height:4px; margin:-3px 0 0; border:2px solid #fff; border-width:0 0 2px 2px; transform:rotate(45deg);}
.cont_head .cta{position:relative;}
.cont_head .cta .title{padding:10px; font-size:1.07em; text-align:center; background:#f1f5fd;}
.cont_head .location{padding:8px 0 7px 9px; border-top:1px solid #dbdee7; border-bottom:1px solid #dbdee7;}
.cont_head .location:after{content:''; display:block; clear:both;}
.cont_head .location li{float:left; font-size: 0.86em; line-height:1.6;}
.cont_head .location li{position:relative; padding:0 4px 0 8px; white-space:nowrap;}
.cont_head .location li:before{content:''; display:block; position:absolute; top:50%; left:0; width:5px; height:8px; margin-top:-4px; background-position:-125px -25px;}
.cont_head .location li:first-child{padding:0;color: transparent;}
.cont_head .location li:first-child:before{width:8px; height:7px; margin-top: -4px; background-position:-115px -25px;}
.cont_head .location li:nth-child(2):before{display:none;}

/* 컨텐츠 바디 */
.cont_body{padding:20px 10px; line-height: 1.6;}

